target
ideatarget
.target
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea/
*.iml
node_modules/
.DS_Store
*.pyc
*.log
*hs_err*
*.mdmp
.pb
.png
export/*.png
BasicDataVecExampleLocalOutput.csv
dl4j-labs/src/main/resources/text/trained_alice.zip
