target
ideatarget
.target
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea/
*.iml
node_modules/
.DS_Store
*.pyc
*.log
*hs_err*
*.mdmp
dl4j-labs/src/main/resources/sea_temp/trained_seatemp.zip
dl4j-labs/src/main/resources/uci_har_dl4j/trained_ucihar.zip
